* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: #f5f6fa;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 62px;
  background-color: #071c2e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  color: white;
  background-color: transparent;
  height: 20px;
  width: auto;
  padding-right: 20px;
}

.nav_bar ul {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  list-style: none;
  float: none;
  position: absolute;
  left: 25%;
  transform: translate(-50%, -50%);
}

img {
  width: 200px;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  gap: 2rem;
}

.nav_bar_right {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
  gap: 1rem;
}

.sub_button {
  background-color: #973100;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 7px;
}
