/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Disply list items side by side */

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
header {
  background-color: rgb(0, 0, 112);
  padding-top: 20px;
}
.hamburger {
  position: fixed;
  z-index: 99;
  background: rgb(0, 0, 112);
  border: none;
  cursor: pointer;
  top: 1rem;
  left: 1rem;
}

.menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  list-style: none;
  background: black;
  display: flex;

  flex-direction: column;
  transform: translateY(-100%);
  transition: 0.2s ease;
}
.menu:target {
  transform: translateY(0);
}
.navbar {
  will-change: transform;
}
.close {
  position: absolute;
  border: none;
  color: white;
  cursor: pointer;
  top: 2rem;
  left: 2rem;
}

@media (max-width: 671.98px) {
  .logo {
    height: 18px;
    padding-right: 10px;
  }
}
